[submodule "gym-duckietown"]
	path = gym-duckietown
	url = https://github.com/esalcort/gym-duckietown.git
[submodule "PPO-PyTorch"]
	path = PPO-PyTorch
	url = https://github.com/esalcort/PPO-PyTorch.git
